@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.availability-immediate { background-color: green; color: white; @apply p-1}
.availability-pending { background-color: orange; color: black; @apply p-1}
.availability-unavailable { background-color: red; color: white; @apply p-1}

.display-results-button { background-color: cornflowerblue; color: black; @apply pl-2 pr-2 pt-1 pb-1; @apply mr-2; cursor: pointer; }
